<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
        </ol>
      </nav>
    <form action="{% url 'cadastro' %}" method="POST" >{% csrf_token%}
        <p>Nome de usuário:</p>
        <input type="text" name="username" id="" >
        <br>
        <p>Email:</p>
        <input type="email" name="email" id="">
        <br>
        <p>Senha:</p>
        <input type="password" name="password" id="">
        <br>
        <p>Nome:</p>
        <input type="text" name="first_name" id="">
        <br>
        <p>Sobrenome:</p>
        <input type="text" name="last_name" id="">
        <p>CPF:</p>
        <input type="text" name="CPF" id="">
        <br>
        <p>Data de Nascimento:</p>
        <input type="date" name="datanascimento" id="">
        <br>
        <p>Identificação:</p>
        <input type="text" name="identificacao" id="">
        <br>
        <p>Cidade:</p>
        <input type="text" name="cidade" id="">
        <br>
        <p>Estado:</p>
        <input type="text" name="estado" id="">
        <input type="submit" value="cadastrar">
        <br>
    </form>
</body>
</html>