{% extends 'base.html' %}
{% load static %}

{%block content%}


<div class="card" >
  <div class="card-body">
    <br>
    <h1>Seja bem vindo(a), {{user.username}} ! </h1>

   <br>

   <div class="card">
    <img src="/static/assets/img/puzzle.jpg" class="card-img-top" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Transtorno do Espectro Autista</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sobre nós</h5>
      Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
      Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
      Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
    </div>
  </div>
   {%endblock%}