{% extends 'base.html' %}
{% load static %}

{%block content%}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
  </ol>
</nav>
<div class="card" >
  <div class="card-body">
<div class="col-lg-12">
    <h5 class="card-title">Sobre nós</h5>

<br>

   <!-- Card with an image on left -->
   <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/card.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Quem somos</h5>
          <p class="card-text">  Nós somos estudantes do 6º semestre do curso técnico em Informática para Internet no Instituto Federal de Educação, Ciência e Tecnologia Baiano (IF Baiano) - Campus Guanambi. Ao longo dos últimos três anos, temos dedicado nossos esforços ao aprendizado e à aplicação prática de tecnologia. Nosso compromisso vai além das salas de aula: buscamos utilizar nosso conhecimento como um meio para promover melhorias sociais significativas.
        </div>
      </div>
    </div>
  </div><!-- End Card with an image on left -->

           <!-- Default Card -->
           <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nossa missão</h5>
              Através deste sistema, nossa missão é impactar positivamente o aprendizado e o entendimento sobre o Transtorno do Espectro Autista (TEA). Acreditamos que a tecnologia pode desempenhar um papel crucial na educação e na conscientização, capacitando indivíduos e comunidades para uma compreensão mais inclusiva e empática.
            </div>
          </div><!-- End Default Card -->
       
<!-- Default Card -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Nosso objetivo</h5>
      Estamos entusiasmadas em contribuir para um futuro mais acessível e informado, onde o conhecimento e a compreensão sejam acessíveis a todos, independentemente de suas diferenças. Junte-se a nós nessa jornada para fazer a diferença.
    </div>
  </div><!-- End Default Card -->

        </div>
   {%endblock%}