{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Deletar Especialista</h5>
            <table class="table">
          <thead>
            <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Especialidade</th>
            <th>cr</th>
            <th>endereco</th>
            <th>telefone</th>
            <th>descricao</th>
            <th>Tem certeza?</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>{{ especialista.id }}</td>
              <td>{{ especialista.nome }}</td>
              <td>{{ especialista.especialidade }}</td>
              <td>{{ especialista.cr }}</td>
              <td>{{ especialista.endereco }}</td>
              <td>{{ especialista.telefone }}</td>
              <td>{{ especialista.descricao }}</td>
              <td><a class="btn btn-primary" href="/especialistas/deleteespecialista/{{especialista.id}}">Sim</a>
                  <a class="btn btn-danger" href="/especialistas/">Não</a>
            </tr>
          </tbody>
        </table>
      
</body>
</html>

{% endblock %}