{% extends 'base.html' %}
{% block content %}
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
    </ol>
  </nav>
        <!-- Default Card -->
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Especialistas</h5>
              <p class="card-text">
                Confira abaixo uma lista de profissionais especialistas no Transtorno do Espectro Autista:
              </p>
            </div>
          </div><!-- End Default Card -->

<div class="card">  
    <div class="card-body">
    
        <h5 class="card-title"></h5>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Especialidade</th>
                    <th scope="col">CR</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for especialistas in especialistas %}
                <tr>
                    <td>{{ especialistas.id }}</td>
                    <td>{{ especialistas.nome }}</td>
                    <td>{{ especialistas.especialidade }}</td>
                    <td>{{ especialistas.cr }}</td>
                    <td>{{ especialistas.endereco }}</td>
                    <td>{{ especialistas.telefone }}</td>
                    <td>{{ especialistas.descricao }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == "administrador" %}
      <br>
              <a class="btn btn-primary" href="{% url 'createespecialista' %}" >Cadastrar novo Especialista</a>
              <a class="btn btn-outline-dark" href="{% url 'especialistas' %}" >Ver todos</a>
      
              {% else %}
      
              
              {% endif %}
            {% endfor %}
        {%endif%}
    </div>
</div>
{% endblock %}
