{% extends 'base.html' %}
{% block content %}
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
  </ol>
</nav>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Editar Especialista</h5>
            <form action="/especialistas/updateespecialista/{{id_especialista}}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.as_p }}
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Editar</button><br>
                <a class="btn btn-outline-danger" href="{% url 'especialistas' %}">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
