{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            {% if noticia.imagem %}
            <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" class="img-fluid rounded-start">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ noticia.titulo }}</h5>
                <p class="card-text">{{ noticia.conteudo }}</p>
                <p><em>Por {{ noticia.referencia }}</em></p>
                <br>
                <a class="btn btn-primary" href="{% url 'listanoticias' %}">Voltar à lista</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
