{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEA Notícias</title>
    <style>
        .card-img-top {
            width: 100%; 
            height: 300px; 
            object-fit: cover; 
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">TEA Notícias</h5>
            <a class="link-dark" href="{% url 'createnoticias' %}">Nova Notícia +</a>
            <br><br>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for noticia in noticia %}
                <div class="col">
                    <div class="card">
                        {% if noticia.imagem %}
                        <img src="{{ noticia.imagem.url }}" class="card-img-top" alt="{{ noticia.titulo }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'detalhesnoticias' noticia.pk %}">{{ noticia.titulo }}</a></h5>
                            <p class="card-text">{{ noticia.resumo }}</p>
                            <a href="{% url 'updatenoticias' noticia.pk %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'deletenoticias' noticia.pk %}" class="btn btn-danger">Excluir</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
