{% extends 'base.html' %}

{% block content %}
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
    </ol>
</nav>
<section class="section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Editar Notícia</h5>
                        <form action="{% url 'updatenoticias' noticia.pk %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Editar</button>
                                <a class="btn btn-outline-danger" href="{% url 'listanoticias' %}">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
