{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
        </ol>
      </nav>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Biblioteca</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Complexidade</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Arquivo</th>
                        <th>Ação</th>
                        <th><a style="color: black; text-decoration: none;" href="/biblioteca/createbiblioteca/">+</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for biblioteca in biblioteca %}
                    <tr>
                        <td>{{ biblioteca.id }}</td>
                        <td>{{ biblioteca.complexidade }}</td>
                        <td>{{ biblioteca.titulo }}</td>
                        <td>{{ biblioteca.categoria }}</td>
                        <td>{{ biblioteca.arquivos }}</td>
                        <td><a class="btn btn-primary" href="/biblioteca/updatebiblioteca/{{biblioteca.id}}">Editar</a>
                        <td><a class="btn btn-danger" href="/biblioteca/delete/confirm/{{biblioteca.id}}">Excluir</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-outline-primary" href="{% url 'biblioteca' %}">Voltar</a>
        </div>
       
    </div>
</body>
</html>
{% endblock %}