{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class="card">
    <div class="card-body">
        <h5 class="card-title">Deletar Atividade</h5>
        <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Tem certeza?</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{ atividades.id }}</td>
            <td>{{ atividades.nome }}</td>
            <td>{{ atividades.descricao }}</td>
            <td>{{ atividades.tipo }}</td>
            <td><a class="btn btn-primary" href="/atividades/deleteatividade/{{atividades.id}}">Sim</a>
                <a class="btn btn-danger" href="/atividades/">Não</a>
          </tr>
        </tbody>
      </table>
      </div>    
</body>
</html>
{% endblock %}