{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
    </ol>
  </nav>
        <!-- Default Card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Atividades Interativas</h5>
            <p class="card-text">
              Fique por dentro de atividades interativas 
                    para realizar com pessoas diagnosticadas com o TEA:
            </p>
          </div>
      </div>
        
      
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Categorias</h5>
            <!-- Default Accordion -->


            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Sensoriais
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" >
                  <div class="accordion-body">
                    {% for atividade in atividades %}
                    {% if atividade.tipo == "Sensorial" %}
                    <div class="card">
                      <div class="card-body">
                        <h1 class="card-title">{{ atividade.nome }}</h1>
                        {{ atividade.descricao }}
                      </div>
                    </div>
                            <!-- Adicione aqui qualquer outro dado do artigo que deseja exibir -->
                            {% endif %}
                            {% endfor %}
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Livros
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {% for atividade in atividades %}
                    {% if atividade.tipo == "Interativa" %}
                    <div class="card">
                      <div class="card-body">
                        <h1 class="card-title">{{ atividade.nome }}</h1>
                        {{ atividade.descricao }}
                      </div>
                    </div>
                            <!-- Adicione aqui qualquer outro dado do artigo que deseja exibir -->
                            {% endif %}
                            {% endfor %}

                           
                  </div>
                </div>
              </div>
            </div><!-- End Default Accordion Example -->
            <br>
            {% if user.is_authenticated %}
      {% for group in user.groups.all %}
          {% if group.name == "administrador" %}

            <a class="btn btn-primary" href="{% url 'createatividade' %}" >Cadastrar atividade</a>
            <a class="btn btn-outline-dark" href="{% url 'atividades' %}" >Ver todas as atividades</a>

            {% else %}

            
            {% endif %}
          {% endfor %}
      {%endif%}
          </div>
        </div>

      </div>
      
                           
      
      
</body>
</html>
{% endblock %}