{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">DETALHES DO COMENTÁRIO</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Conteúdo Comentário</th>
                        <th>Data Postagem</th>
                        <th>ID Forum</th>
                        <th>Deletar mesmo?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ comentario.id }}</td>
                        <td>{{ comentario.user }}</td>
                        <td>{{ comentario.corpo }}</td>
                        <td>{{ comentario.datacomentario }}</td>
                        <td>{{ comentario.forum }}</td>
                        <td>
                            <a class="btn btn-primary" href="/comentario/deletecomentario/{{ comentario.id }}">Sim</a>
                            <a class="btn btn-danger" href="/forum/">Não</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
