{% extends 'base.html' %}
{% block content %}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
    <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
  </ol>
</nav>
<div class="container mt-4">
  <!-- Título da Página -->
 

  <!-- Formulário de Edição -->
  <div class="card">
    <br>
    <h2 class="mb-4"> Editar Comentário</h2>
    <div class="card-body">
      <form action="/comentario/updatecomentario/{{ comentario_id }}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.as_p }}
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md">
          <button type="submit" class="btn btn-primary me-md-2">Salvar</button>
          <a class="btn btn-outline-danger" href="{% url 'forum' %}">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
