{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Comentário</title>
</head>
<body>

    <div class="container mt-3">
        <!-- Título da Página -->
        <h5 class="card-title">Editar Comentário</h1>

        <!-- Formulário de Edição -->
        <div class="card">
            <div class="card-body">
                <form action="/comentario/updatecomentario/{{comentario_id}}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

{% endblock %}
