{% extends 'base.html' %}
{% block content %}
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
    </ol>
  </nav>
<div class="card">
    <div class="card-body">
        <h1>Criar post forum</h1>
        <form action="/forum/categorias/" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}
