{% extends 'base.html' %}
{% block content %}
<nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/usuario/home"><i class="bi bi-house-door"></i></a></li>
      <li class="breadcrumb-item"><a href="/usuario/home">Home</a></li>
    </ol>
  </nav>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">DETALHES DE EXCLUSÃO</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">User Usuario</th>
                        <th scope="col">Corpo</th>
                        <th scope="col">Data Criação</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Deletar mesmo?</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ forum.id }}</td>
                        <td>{{ forum.user }}</td>
                        <td>{{ forum.corpo }}</td>
                        <td>{{ forum.datacriacao }}</td>
                        <td>{{ forum.categoria }}</td>
                        <td>
                            <a class="btn btn-primary" href="/forum/deletepost/{{forum.id}}">Sim</a>
                            <a class="btn btn-danger" href="/forum/">Não</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
